## Deliverable 2. Create a Customer Travel Destinations Map.

In [23]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import config
import numpy as np
import os  
path = os.path.abspath(r'C:\World_Weather_Analysis\Weather_Database\WeatherPy_Database.csv')

# Import the API key.
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [26]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv(r'C:..\Weather_Database\WeatherPy_Database.csv')
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain (inches),Snow (inches)
0,0,Rosetown,CA,51.5501,-108.0014,56.98,30,8,8.05,clear sky,0.0,0.0
1,1,Samarai,PG,-10.6167,150.6667,79.18,83,92,16.33,overcast clouds,0.0,0.0
2,2,Cape Town,ZA,-33.9258,18.4232,63.27,58,0,11.50,clear sky,0.0,0.0
3,3,Kristiansund,NO,63.1115,7.7320,60.85,88,40,2.30,scattered clouds,0.0,0.0
4,4,Albany,US,42.6001,-73.9662,66.67,70,100,1.01,overcast clouds,0.0,0.0

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
pcities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
pcities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain (inches),Snow (inches)
1,1,Samarai,PG,-10.6167,150.6667,79.18,83,92,16.33,overcast clouds,0.00,0.0
15,15,Katherine,AU,-14.4667,132.2667,84.52,65,100,6.91,overcast clouds,0.00,0.0
23,23,Griffith,US,41.5284,-87.4237,82.89,58,1,1.01,clear sky,0.00,0.0
25,25,Kloulklubed,PW,7.0419,134.2556,75.70,76,100,20.45,heavy intensity rain,11.22,0.0
27,27,Kapaa,US,22.0752,-159.3190,77.11,70,75,7.00,light rain,0.12,0.0
28,28,Atuona,PF,-9.8000,-139.0333,78.12,69,23,19.35,few clouds,0.00,0.0
31,31,Porbandar,IN,21.6422,69.6093,83.35,79,92,3.80,overcast clouds,0.00,0.0
34,34,Baghdad,IQ,33.3406,44.4009,80.51,18,0,9.22,clear sky,0.00,0.0
37,37,Rumonge,BI,-3.9736,29.4386,79.99,56,49,3.33,scattered clouds,0.00,0.0
38,38,Bengkulu,ID,-3.8004,102.2655,76.86,92,37,4.94,scattered clouds,0.00,0.0

In [5]:
# 4a. Determine if there are any empty rows.
pcities_df.count()

City_ID                228
City                   228
Country                225
Lat                    228
Lng                    228
Max Temp               228
Humidity               228
Cloudiness             228
Wind Speed             228
Current Description    228
Rain (inches)          228
Snow (inches)          228
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
completed_cities_df = pcities_df.dropna()
completed_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain (inches),Snow (inches)
1,1,Samarai,PG,-10.6167,150.6667,79.18,83,92,16.33,overcast clouds,0.00,0.0
15,15,Katherine,AU,-14.4667,132.2667,84.52,65,100,6.91,overcast clouds,0.00,0.0
23,23,Griffith,US,41.5284,-87.4237,82.89,58,1,1.01,clear sky,0.00,0.0
25,25,Kloulklubed,PW,7.0419,134.2556,75.70,76,100,20.45,heavy intensity rain,11.22,0.0
27,27,Kapaa,US,22.0752,-159.3190,77.11,70,75,7.00,light rain,0.12,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
697,697,Epe,NG,6.5841,3.9834,78.49,86,100,4.76,moderate rain,1.40,0.0
700,700,Auki,SB,-8.7676,160.7034,76.33,88,100,2.57,overcast clouds,0.00,0.0
704,704,Tamiahua,MX,21.2667,-97.4500,84.33,71,5,6.73,clear sky,0.00,0.0
707,707,Marzuq,YE,14.4000,46.4667,77.14,60,79,3.96,broken clouds,0.00,0.0
709,709,Goundi,TD,9.3627,17.3660,81.36,67,95,3.96,overcast clouds,0.00,0.0

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = city_data_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Rosetown,CA,56.98,clear sky,51.5501,-108.0014,
1,Samarai,PG,79.18,overcast clouds,-10.6167,150.6667,
2,Cape Town,ZA,63.27,clear sky,-33.9258,18.4232,
3,Kristiansund,NO,60.85,scattered clouds,63.1115,7.7320,
4,Albany,US,66.67,overcast clouds,42.6001,-73.9662,
5,Ushuaia,AR,49.66,light rain,-54.8000,-68.3000,
6,Yellowknife,CA,42.42,overcast clouds,62.4560,-114.3525,
7,Port Alfred,ZA,62.56,clear sky,-33.5906,26.8910,
8,Zhongshu,CN,60.91,overcast clouds,24.5167,103.7667,
9,Busselton,AU,44.10,scattered clouds,-33.6500,115.3333,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try: 
            hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Rosetown,CA,56.98,clear sky,51.5501,-108.0014,Travelodge by Wyndham Rosetown
1,Samarai,PG,79.18,overcast clouds,-10.6167,150.6667,Nuli Sapi
2,Cape Town,ZA,63.27,clear sky,-33.9258,18.4232,Southern Sun Waterfront Cape Town
3,Kristiansund,NO,60.85,scattered clouds,63.1115,7.7320,Thon Hotels Storgata
4,Albany,US,66.67,overcast clouds,42.6001,-73.9662,
5,Ushuaia,AR,49.66,light rain,-54.8000,-68.3000,Albatros Hotel
6,Yellowknife,CA,42.42,overcast clouds,62.4560,-114.3525,The Explorer Hotel
7,Port Alfred,ZA,62.56,clear sky,-33.5906,26.8910,The Halyards Hotel
8,Zhongshu,CN,60.91,overcast clouds,24.5167,103.7667,Xintianlong Hotel
9,Busselton,AU,44.10,scattered clouds,-33.6500,115.3333,Observatory Guest House

In [17]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.count()

City                   702
Country                702
Max Temp               702
Current Description    702
Lat                    702
Lng                    702
Hotel Name             702
dtype: int64

In [18]:
# 8a. Create the output File (CSV)
output_data_file = r'C:..\Vacation_Search\WeatherPy_vacation.csv'
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [19]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt>{Current Description} and {Max Temp} °F</dd>
"""

In [20]:
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [22]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))