## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv(r'C:..\Vacation_Search\WeatherPy_vacation.csv')
#vacation_df.head(10)
vacation_df.dropna()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Rosetown,CA,56.98,clear sky,51.5501,-108.0014,Travelodge by Wyndham Rosetown
1,1,Samarai,PG,79.18,overcast clouds,-10.6167,150.6667,Nuli Sapi
2,2,Cape Town,ZA,63.27,clear sky,-33.9258,18.4232,Southern Sun Waterfront Cape Town
3,3,Kristiansund,NO,60.85,scattered clouds,63.1115,7.7320,Thon Hotels Storgata
5,5,Ushuaia,AR,49.66,light rain,-54.8000,-68.3000,Albatros Hotel
...,...,...,...,...,...,...,...,...
703,703,Dalvik,IS,40.93,overcast clouds,65.9702,-18.5286,Dalvík HI Hostel
704,704,Tamiahua,MX,84.33,clear sky,21.2667,-97.4500,Mission Of The Sun Hotel
705,705,Wainwright,CA,40.28,broken clouds,52.8390,-110.8572,Ramada by Wyndham Wainwright
706,706,Tacoronte,ES,70.74,broken clouds,28.4769,-16.4102,Casa Laurel
708,708,Mongomo,GQ,70.05,moderate rain,1.6274,11.3135,NAIM OBUC

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Lehigh Acres"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Lehigh Acres"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Avera"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Russell"]
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Fairhope"]

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0],vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0],vacation_end["Lng"].to_numpy()[0]
print(f"Start{start}/ End {end}")
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]
print(f"Stop 1: {stop1}, Stop 2: {stop2}, Stop 3: {stop3}")

Start(26.6254, -81.6248)/ End (26.6254, -81.6248)
Stop 1: (33.194, -82.5271), Stop 2: (32.3502, -85.1999), Stop 3: (30.523, -87.9033)

In [7]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
city_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1,stop2,stop3],
        travel_mode='DRIVING')

In [10]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,437,Avera,US,79.38,broken clouds,33.1940,-82.5271,NaN
1,474,Russell,US,84.96,scattered clouds,32.3502,-85.1999,Macs
2,670,Fairhope,US,85.35,clear sky,30.5230,-87.9033,Hampton Inn Fairhope-Mobile Bay

In [11]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
fig.add_layer(city_itinerary)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))